{% extends 'base.html' %}
{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{ movie.production_year }} |
                    {% for country in movie.countries %}
                        {% if not forloop.last %}
                            {{ country.name }},
                        {% else %}
                            {{ country.name }}
                        {% endif %}
                    {% endfor %}
                </div>
                <h1 class="display-5 fw-bolder">{{ movie.title }}</h1>
                <div class="fs-5 mb-5">
                    {% for genre in movie.genres.all %}
                        <span>{{ genre }}</span>
                        {% if not forloop.last %}
                            |
                        {% endif %}
                    {% endfor %}
                </div>
                <p class="lead">{{ movie.description }}</p>
                <p class="lead">Directed by: {{ movie.director }} | Written by: {{ movie.writer }}</p>
                <p>Stars: {{ movie.actors }}</p>
            </div>
        </div>
    </div>
</section>
<!-- Related movies section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related movies</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for movie in related %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">
                                <a href="{% url 'films:detailed-view' movie.pk %}" class="text-dark" style="text-decoration:none">
                                    {{ movie.title }}</a></h5>
                            <!-- Year and country of production -->
                            {{ movie.production_year }}
                            {% for country in movie.countries %}
                                {% if not forloop.last %}
                                    {{ country.name }},
                                {% else %}
                                    {{ country.name }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-footer p-4 pt-4 border-top-0 bg-transparent d-flex justify-content-center">
                            {% for genre in movie.genres.all %}
                            <div class="badge bg-dark text-white">{{ genre }}</div>
                            {% endfor %}
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="d-flex justify-content-center">
                                <div class="bi-star-fill text-warning mb-4"></div>
                                {{ movie.rating }} ({{ movie.total_votes }})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

